.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: cornflowerblue;
    font-size: 18px;
    background-color: darkblue;
    margin: 20px 0;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon p {
    margin-right: 5px;
}