body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Electrolize', sans-serif;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(4,162,168,1) 0%, rgba(160,4,250,1) 94%);
  /* background-size:cover ; 
  background: 
  -webkit-linear-gradient(rgba(135, 60, 255, 1), rgba(135, 60, 255, 0.0) 0%),
  -webkit-linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 50%, rgba(152,251,152, 1) 0%); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  height: 100%;
  text-align: center;
}
